@page
@model Anonymous_Topics.Pages.AddTopicModel
@{
    Layout = "Shared/_NewLayout";
    ViewData["Title"] = "CreateTopic";

}
<div class="container mt-5">
    <h2>Topic Form</h2>
    @if (ViewData["errors"] is string error)
    {
        <div class="col-12 mb-3">
            <div class="alert alert-danger">
                @error
            </div>

        </div>
    }
    @if (ViewData["success"] is string success)
    {
        <div class="col-12 mb-3">
            <div class="alert alert-success">
                @success
            </div>

        </div>
    }
    <form method="post">
        <div class="mb-3">
            <label for="@Model.Title" class="form-label">Title:</label>
            <input type="text" class="form-control" asp-for="@Model.Title" placeholder="Enter your Title">
            <span asp-validation-for="@Model.Title" class="text-danger"></span>


        </div>


        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description:</label>
            <input type="text" class="form-control" asp-for="@Model.Description" placeholder="Enter your Description">
            <span asp-validation-for="@Model.Description" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="@Model.TopicCategoryId" class="control-label">Category:</label>
            <select asp-for="@Model.TopicCategoryId" class="form-control">
                <option value="">-- Select --</option>
                @foreach (var item in Model.AvailableTopicCategories)
                {
                    <option value="@item.Id">@item.Name</option>

                }
            </select>
            <span asp-validation-for="@Model.TopicCategoryId" class="text-danger"></span>
        </div>
        <div>
            <dnt-captcha asp-captcha-generator-max="30"
                         asp-captcha-generator-min="1"
                         asp-captcha-generator-language="English"
                         asp-captcha-generator-display-mode="NumberToWord"
                         asp-use-relative-urls="true"
                         asp-placeholder="Security code as a number"
                         asp-validation-error-message="Please enter the security code as a number."
                         asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="#333333"
                         asp-back-color="#FCF6F5FF"
                         asp-text-box-class="form-control"
                         asp-text-box-template="<div class='input-group'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                         asp-validation-message-class="text-danger"
                         asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
                         asp-show-refresh-button="true"
                         asp-dir="ltr" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="container mt-5">
        <h2>Topics Table Grid </h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>TopicCategory</th>
                    <th>TopicCategoryName</th>
                    <th>Image</th>
                    <th>Isclosed</th>
                    <th>CreatedDate</th>
                    <th>SecurityKey</th>



                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Topics)

                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.TopicCategoryId</td>
                        <td>@item.TopicCategory</td>
                        <td>@item.Image</td>
                        <td>@item.IsClosed</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.SecurityKeys</td>



                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
