@page
@model Anonymous_Topics.Pages.TopicsGridModel
@{
    Layout = "Shared/_NewLayout";
    ViewData["Title"]="Topics";
}

<div class="header">
    <h1>Topics</h1>
</div>


<div class="main">
    <div class="sidebar">
        <div class="subreddit-list">
            <h2>Topic Categories</h2>
            <ul>
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <a asp-page="TopicsGrid" asp-route-id="@Model.Topics.Where(c => c.TopicCategoryId==item.Id).Select(a => a.TopicCategoryId).FirstOrDefault()">
                            <i class="fas fa-layer-group"></i> @item.Name    (@Model.Topics.Where(c => c.TopicCategoryId==item.Id).Count())
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="post-list">
        @foreach (var item in Model.Topics)
        {
            <div class="post">
                <div class="post-title" style="font-weight:bolder">@item.Title</div>
                <div class="post-content">@item.Description</div>
                <div class="post-image">
                    <img src="~/images/@item.Image" alt="@item.Image">
                </div>
                <div class="post-footer">
                    <span class="comment-count">
                        <i class="fas fa-comment"></i> (@Model.TopicComments.Where(c => c.TopicId==item.Id).Count()) Comments
                    </span>
                    <i>
                        <a class="btn btn-warning" asp-page="TopicCommentsGrid" asp-route-id="@item.Id">Details</a>
                    </i>
                    <i class="far fa-user"></i> Posted by example_user1
                </div>
            </div>
        }

    </div>
</div>

<div class="footer">
</div>


@section Styles
    {
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    }