@page "{handler?}"
@model Anonymous_Topics.Pages.TopicCommentsGridModel
@{
    Layout = "Shared/_NewLayout";
    ViewData["Title"] = "TopicComments";

}
@if (ViewData["errors"] is string error)
{
    <div class="col-12 mb-3">
        <div class="alert alert-danger">
            @error
        </div>

    </div>
}
@if (ViewData["success"] is string success)
{
    <div class="col-12 mb-3">
        <div class="alert alert-success">
            @success
        </div>

    </div>
}
@section Styles
    {
    <style>
        .nested-comment {
            margin-left: 20px; /* Adjust the indent size as needed */
        }
    </style>
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 class="post-title">Topic Comments</h2>
</nav>

<div class="container mt-4">
  

    <div class="row">
        <div class="col-md-12">
            <div class="post">
                <h2 class="post-title">@Model.Title</h2>
                <div class="post-content">
                    <img src="~/images/@Model.Image" class="img-fluid" alt="@Model.Title">
                    <br />
                    <br />
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="comment-form mt-4">
                <div class="close-comments mt-4">
                    <button type="button" class="btn btn-secondary" disabled="@Model.IsClosed" data-bs-toggle="modal" data-bs-target="#topicModal">Close Comments</button>

                </div>
                <h3>Add a Comment</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="@Model.UserName" class="form-label">Your Username</label>
                        <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Enter your username">
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="@Model.CommentDescription" class="form-label">Your Comment</label>
                        <textarea class="form-control" asp-for="@Model.CommentDescription" placeholder="Enter your comment"></textarea>
                        <span asp-validation-for="@Model.CommentDescription" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
            <div class="comments mt-4">
                <h3>Comments</h3>
                @if (Model.TopicComments.Count == 0)
                {
                    <div class="comment">
                        <div class="comment-info">
                            There Is No Comment For This Topic
                        </div>
                    </div>
                }
                else
                {
                    @foreach (var item in Model.TopicComments.OrderByDescending(c => c.CreatedDate))
                    {
                        <input value="@item.CommentId" asp-for="@Model.CommentId" type="text" hidden />
                        <input value="@item.ParentTopicCommentId" asp-for="@item.ParentTopicCommentId" type="text" hidden />

                        <div class="comment">
                            <div class="comment-info">
                                @if (Model.TopicComments.Any(c => c.ParentTopicCommentId is null))
                                {                                 
                                    <div>
                                        Comment by
                                        <span style="font-weight:bold"> @item.UserName</span>
                                        /commenter1
                                        |Created at
                                        <span style="font-weight:bold">
                                            @item.CreatedDate
                                        </span>
                                        <div class="comment-content" style="color:gray">
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button type="button" class="btn btn-link btn-sm reply-button">Reply</button>
                            <div class="reply-form" style="display: none;">
                                <form method="post">
                                    <input value="@item.CommentId" asp-for="@Model.CommentId" name="CommentId" type="text" hidden />
                                    <div class="form-group">
                                        <label for="@Model.UserName" class="form-label">Your Username</label>
                                        <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Enter your username">
                                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="@Model.CommentDescription" class="form-label">Your Comment</label>
                                        <textarea class="form-control" rows="3" asp-for="@Model.CommentDescription" placeholder="Your reply"></textarea>
                                        <span asp-validation-for="@Model.CommentDescription" class="text-danger"></span>
                                    </div>
                                    <button type="submit" asp-page="TopicCommentsGrid" asp-page-handler="AddNestedComment" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="nested-comments">
                                @if (Model.TopicComments.Any(c => c.ParentTopicCommentId != null && c.ParentTopicCommentId == c.CommentId))
                                {
                                    <div class="nested-comment">
                                        <div class="comment-header">
                                            Comment by
                                            <span style="font-weight:bold"> @item.UserName</span>
                                            /commenter2
                                            |Created at
                                            <span style="font-weight:bold">
                                                @item.CreatedDate
                                            </span>
                                        </div>
                                        <div class="comment-content">
                                            <p>@item.Description</p>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="topicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post">
                <input value="@Model.Id" hidden type="text" asp-for="@Model.Id" />
                <p hidden>@ViewData["Id"]</p>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="closeCommentModal">Please Enter Your TopicId</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="@Model.TopicId" class="form-label">TopicId:</label>
                        <input type="text" class="form-control" id="topicIdField" asp-for="@Model.TopicId" placeholder="Enter Your Key">
                        <span asp-validation-for="@Model.TopicId" class="text-danger"></span>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" asp-page="TopicCommentsGrid" asp-page-handler="CloseComment" class="btn btn-primary" id="saveButton">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            debugger;
            $(".reply-button").click(function () {
                $(this).siblings(".reply-form").toggle();
                debugger;
            });
        });
    </script>
    }